.container__notFound
    height:100vh
    width:100vw
    display:grid
    align-items:center
    justify-items:center

.morty--photo
    width:200px
    height:300px

.notFound__elements
    display:grid
    align-items:center
    justify-items:center

.page__dontExist
    font-weight:500
    font-size:30px
    margin-bottom:10px