.container__loading
    height:100vh
    width:100vw
    display:grid
    align-items:center
    justify-items:center

.spinner
    width:30px
    height:30px

.loading__element
    display:grid
    align-items:center
    justify-items:center

