p
    color:white
    margin:0px

.character__name
    font-size:20px
    font-weight:600

.container__characterList
    display: flex
    flex-wrap: wrap
    justify-content:center

.container--character
    width: 450px
    height: 178px
    margin: 10px
    background-color: #333333
    border-radius: 5px
    color: red
    display:grid
    grid-template-columns: 1fr 1fr 
    &:hover
        transform: scale(1.05) 
        transition-duration: 300ms

    

.photo__character
    width: 150px
    height: 150px
    border-radius: 100px

.photo
    display: grid
    align-items: center
    justify-items: center

.character__properties
    display: grid
    align-items: center



.btn--moreCharacters
    font-family: 'Jost', sans-serif;
    width:340px
    height:50px
    font-size:20px
    background-color: #00D606
    border: 0
    border-radius: 5px
    color:white
    cursor: pointer

.btn--container
    display:grid
    align-items:center
    justify-items:center
            