.container__error
    height:100vh
    width:100vw
    display:grid
    align-items:center
    justify-items:center

.morty--error
    width:350px
    height:250px

.error__elements
    display:grid
    align-items:center
    justify-items:center

.page__dontExist
    font-weight:600
    font-size:30px
    margin-top:10px
    margin-bottom:0px
    color: #FBFF6A


.page__complement
    margin-top: 0px
    font-weight:350
    font-size:20px