.container__character
    display grid
    grid-template-rows: 20% 1fr
    grid-template-columns: 30% 1fr
    height: 100vh

.container__logo
    display:grid
    align-items:center
    justify-items:center

.container-char
    display: grid
    align-items: center
    
.nose
    color: white
    background-color:blue
    margin:2px

.logo
    width:250px
    height:80px

input
    width: 50%
    height:60px
    background-color: #181818
    border:0
    border-radius:5px
    color:white
    font-size:20px

::placeholder
    padding-left: 10px
    color:white
    font-size: 20px    