.container__character
    display grid
    grid-template-rows: 20% 1fr
    height: 100vh

.container__logo
    display:grid
    align-items:center
    justify-items:center

.container-char
    display: grid
    align-items: center
    justify-items: center

.logo
    width:180px
    height:60px

input
    width: 500px
    height:60px
    background-color: #181818
    border:0
    border-radius:10px
    color:white
    font-size:20px

::placeholder
    font-family: 'Jost', sans-serif;
    padding-left: 10px
    color:white
    font-size: 15px

.filterList__container
    display:grid
    justify-items:center

