.characters
    display: grid
    
.container__character
    display grid
    grid-template-rows: 20% 1fr
    height: 100vh

.container__logo
    display:grid
    align-items:center
    justify-items:center

.container-char
    display: grid
    align-items: center
    justify-items: center

.logo
    width:180px
    height:60px

input
    width: 450px
    height:60px
    background-color: #181818
    border:0
    border-radius:10px
    color:white
    font-size:20px

::placeholder
    font-family: 'Jost', sans-serif;
    padding-left: 10px
    color:white
    font-size: 15px

.filterList__container
    display:grid
    justify-items:center

.selected--filter
    color: #00B3CB
    font-weight:400

@media (min-width: 320px) and (max-width: 480px) 
    input
        width: 300px
        height:45px
        background-color: #181818
        border:0
        border-radius:10px
        color:white
        font-size:10px

    ::placeholder
        font-family: 'Jost', sans-serif;
        padding-left: 10px
        color:white
        font-size: 10px




